<!--
  Generated template for the Moonphase component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<div class="moonphase">
	<div class="moon-phase">
		<i id="moon-phase" data-icon="&#xe001;" aria-hidden="true" class="{{moonPhaseImage}}"></i>
		<ion-list no-lines text-wrap>
			<ion-item>{{moonPhaseName}}</ion-item>
			<ion-item>Próxima luna nueva: {{fullMoon}}</ion-item>
		</ion-list>
	</div>
	<!--<div class="earth-distance">
				<p>Distancia de la tierra</p>
			</div>-->
</div>
