<!--<ion-header>
	<ion-navbar>
		<ion-title>Calendario</ion-title>
	</ion-navbar>
</ion-header>-->

<ion-content padding class="page-main">
	<calendar-component (getDate)="getDate($event)"></calendar-component>
	<hr>
	<h4 id="date">{{currentDate}}</h4>
	<ion-slides pager>
		<ion-slide>
			<moon-phase-component [date]="date" (getPhase)="getPhase($event)"></moon-phase-component>
		</ion-slide>
		<ion-slide>
			<weather-component [date]="date"></weather-component>
		</ion-slide>
		<ion-slide>
			<crops-component [date]="date"></crops-component>
		</ion-slide>
		<ion-slide>
			<abundance-component [date]="date"></abundance-component>
		</ion-slide>
		<ion-slide>
			<noproduction-component [date]="date"></noproduction-component>
		</ion-slide>
		<ion-slide>
			<tips-component [zodiacImage]="zodiacImage" [zodiacName]="zodiacName" [phase]="phase"></tips-component>
		</ion-slide>
	</ion-slides>
</ion-content>